@import "hamburgers/dist/hamburgers.min.css";

.hamburger {
    display: block; /* Make it always visible */
    z-index: 50;
    transform: scale(0.8);
    position: absolute; /* Position it absolutely within its parent */
    top: 0; /* Position at the top */
    left: 0; /* Align to the left */
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px; /* Width of the collapsed sidebar */
  background-color: white;
  padding-top: 6rem;
  z-index: 40;
  overflow-y: auto;
  transition: width 0.3s ease; /* Animate width changes */
}

.sidebar-open .sidebar {
  width: 300px; /* Width of the expanded sidebar */
}

.sidebar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust based on your icon size */
}

.sidebar-link-text {
  display: none; /* Hide text labels in collapsed state */
  transition: display 0.3s ease;
}

.with-sidebar .flex-1 {
  transition: margin-left 0.3s ease;
  margin-left: 35px; /* Adjust based on the collapsed sidebar width */
}

/* Adjustments for other elements */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  margin-left: 20px;
}

.custom-hamburger-inner {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
    background-color: purple;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: purple;
}